nav#mainNav ul {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bolder;
}

nav#mainNav ul li {
    list-style: none;
    padding: 1rem;
}