/* 
form#mainForm {
    width: clamp(10%, 320px, 100%);
    display: flex;
    flex-direction: column; 
}

form#mainForm br {min-width: 100%;}

form#mainForm label {
    float: left;
}
form#mainForm input {
    float: right;
} 
*/

* {box-sizing: border-box;}

form#mainForm {
    width: clamp(10%, 500px, 100%);
}
form#mainForm section {
    padding-left: 1rem;
    width: clamp(10%, 320px, 100%);
    display: flex;
    justify-content: space-between;
}
div {
    width: 70%;
    float: right;
}
input, textarea, button {
    float: left;
}

hr {color: rgba(0, 0, 0, 0.25);}