fieldset {width: clamp(10%, 320px, 100%);}

form#mainForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form#mainForm label {
    float: left;
}
form#mainForm input {
    float: right;
}